/* style.css */

body {
    font-family: 'Segoe UI', sans-serif;
}

/* Titre custom (on injecte la balise <h1> depuis Python) */
h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-top: 0.5rem;
}

/* Sliders */
.stSlider > div {
    font-size: 1.1rem;
    color: #222;
    font-weight: 500;
}

/* Labels de section */
.stMarkdown {
    font-size: 1.1rem;
}


/* Boutons plus jolis */
.stButton > button {
    background-color: #f8b500;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.6rem 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.stButton > button:hover {
    background-color: #f7a200;
}
