/* style.css */

body {
    font-family: 'Segoe UI', sans-serif;
}

.main {
    background: linear-gradient(to bottom right, #fceabb, #f8b500);
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
}
